/.idea
/.buildpath
/.project
/.settings
/.phpintel
/phpunit.xml
/tests/local.config.php
/tests/local.config.php_*
/tests/local.tokens.php
/tests/phpunit.phar
/vendor
.DS_Store
.phpunit.result.cache
/.ddev/mautic-preference
/mautic
